<!doctype html>
<html>
  <head>
    <title>nu7hatch's bd compliant</title>
    <meta name="charset" content="utf-8" />
    <link href="css/bd.css" type="text/css" rel="stylesheet" />
  </head>
  <body id="home">
    <pre><code><%= @bd %></pre></code>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount','UA-26920459-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
