body { margin: 5px 0px 10px 0px; padding: 0; font-family:monospace, Courier; font-size:8px; color:#000000; background-color:#FFFFFF }
a { color: #111; text-decoration: none; }
a:hover { color: #777; }

.clear { clear:both; }

#face { margin-bottom: -5px; margin-top: -5px; float: right; line-height: 90%; border: 0; font-size: 9px !important;font-family: courier, Monospace; }
#links, #header { display: block; background: #111; padding: 3px 15px 3px 15px; color: #FFF; clear: both; font-size: 14px; text-align: right; font-family: courier, Monospace; }
#header { text-align: left; }
#header h1 { font-size: 14px; margin: 0; padding: 0; float: left; }
#header p { margin: 0; padding: 0; float: right; }
#links nav a { color: #EEE; }
#links nav a:hover { color: #AAA; }
#links nav { list-style-type: none; margin: 0; padding: 0; }
#links nav li { display: inline; padding-left: 15px; }
#footer { text-align: right; color: #555; font-size: 10px; display: block; padding: 5px 10px; }

.antispam { display: none; }
.accessibility { position: absolute; top: -9999px; }

